.list-item{
    color: #FFFFFF;
    --background: #3a3b3f;
}

ion-grid {
    color:white;
}

.header{
    --background: #000000;
    padding-bottom: 10px;
}

.h2{
    text-align: center;
    color: White;
}

ion-icon {
    font-size: 30px;
}

.row {
    margin-top: 5%;
}